@import "~quill/dist/quill.snow.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6,
section,
figure {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.ql-editor {
  text-align: center !important;
}
